body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url(assets/clips-3.jpg);
    background-size: contain;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2vh;
    letter-spacing: 1.85px;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-ms-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}
}

h1 {
    display: inline-block;
    margin: 0;
}

button {
    margin: 0;
    border: none;
    background-color: transparent;
    font: inherit;
    padding: 0;
    
}


.gif-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.gif {
    position: absolute; 
    top:50%;
    left: 35%;
    width: auto;
    height: 100%;
    -webkit-perspective-origin: center center;
    -webkit-transform:
        translateX(-50%) 
        translateY(-50%) 
        scale(1);
}

.about {
    position: fixed;
    top: 5px;
    left: 90px;
}


/*mobile first */
#text-one {
    -webkit-transform: translateY(17em) translateX(.65em) rotateZ(270deg);
    -moz-transform: translateY(17em) translateX(.65em) rotateZ(270deg);
    -ms-transform: translateY(17em) translateX(.65em) rotateZ(270deg);
    -o-transform: translateY(17em) translateX(.65em) rotateZ(270deg);
    
    transform: translateY(17em) translateX(.65em) rotateZ(270deg);
    transform-origin: .5em 1em;
    
    margin: 0;
    position: absolute;
    top: 0;
    width: 325px;
    
}

#text-two {
    -webkit-transform: translateY(6.8em) translateX(1.2em) rotateZ(90deg);
    -moz-transform: translateY(6.8em) translateX(1.2em) rotateZ(90deg);
    -ms-transform: translateY(6.8em) translateX(1.2em) rotateZ(90deg);
    -o-transform: translateY(6.8em) translateX(1.2em) rotateZ(90deg);

    transform: translateY(6.8em) translateX(1.2em) rotateZ(90deg);
    transform-origin: 0 0;
    width: 329px;
}

#clock {
    margin: 0;
    position: absolute;
    left: 30%;
    top: .4vh;
}


.sound {
    margin: 0 auto;
    position: absolute;
    left: 30%;
    top: .4vh;
}

#top-border, #bottom-border, #left-border, #right-border {
	position: fixed;
    z-index: 101;
}

#left-border, #right-border {
    top: 0; 
    bottom: 0;
    width: 40px;
}

#left-border {
    background-image: url(assets/clips-3.jpg);
    left: 0; 
}

#right-border { 
    background-image: url(assets/clips-3.jpg);
    background-position: 40% 20%;
    right: 0; 
}
		
#top-border, #bottom-border {
    left: 0; 
    right: 0;
    height: 40px;   
}

#top-border {
    display: flex;
    flex-wrap: nowrap;
    background-image: url(assets/clips-3.jpg);
    top: 0; 
}
		
#bottom-border { 
    background-image: url(assets/clips-3.jpg);
    background-position: 0 30%;
    bottom: 0; 
}

@media (min-width: 701px) {
    
    body {
        font-size: 2.5vh;
        letter-spacing: 3 px;
    }
    
    .gif {
        left:42%;
        top: 50%;

    }
    
    #text-one {
        -webkit-transform: translateY(13.5em) translateX(.65em) rotateZ(270deg);
        -moz-transform: translateY(13.5em) translateX(.65em) rotateZ(270deg);
        -ms-transform: translateY(13.5em) translateX(.65em) rotateZ(270deg);
        -o-transform: translateY(13.5em) translateX(.65em) rotateZ(270deg);

        transform: translateY(13.5em) translateX(.65em) rotateZ(270deg);
        width: 1000vw;
    }
    
    #text-two {
         -webkit-transform: translateY(4.55em) translateX(1.15em) rotateZ(90deg);
        -moz-transform: translateY(4.55em) translateX(1.15em) rotateZ(90deg);
        -ms-transform: translateY(4.55em) translateX(1.15em) rotateZ(90deg);
        -o-transform: translateY(4.55em) translateX(1.15em) rotateZ(90deg);

        transform: translateY(4.55em) translateX(1.15em) rotateZ(90deg);
        width: 1000vw;
    }
    
    #clock {
        left: 32%;
        top: 1vh;
    }
    
    .sound {
        left: 32%;
        top: 1vh;
    }
    
    #left-border, #right-border {
        width: 70px;
    }
    
    #top-border, #bottom-border {
        height: 70px;  
    }
    
    
}

@media (min-width: 1001px) {
    body {
        font-size: 4.5vh;
        letter-spacing: 3.92px;
    }
    
    .gif {
        left:50%;
        top: 54%

    }
    
    #text-one {
        -webkit-transform: translateY(10em) translateX(.6em) rotateZ(270deg);
        -moz-transform: translateY(10em) translateX(.6em) rotateZ(270deg);
        -ms-transform: translateY(10em) translateX(.6em) rotateZ(270deg);
        -o-transform: translateY(10em) translateX(.6em) rotateZ(270deg);

        transform: translateY(9em) translateX(.5em) rotateZ(270deg);
        width: 1000vw;
    }
    
    #text-two {
         -webkit-transform: translateY(-.1em) translateX(1.05em) rotateZ(90deg);
        -moz-transform: translateY(-.1em) translateX(1.05em) rotateZ(90deg);
        -ms-transform: translateY(-.1em) translateX(1.05em) rotateZ(90deg);
        -o-transform: translateY(-.1em) translateX(1.05em) rotateZ(90deg);

        transform: translateY(-.1em) translateX(1.05em) rotateZ(90deg);
        width: 1000vw;
    }
    
    #clock {
        left: 35%
    }
    
    .sound {
        left: 35%;
        top: .4vh;
    }
    
    #left-border, #right-border {
        width: 5.5vw;
    }
    
    #top-border, #bottom-border {
        height: 10vh;  
    }
    
}